<h1>Dragon Ball Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar {{ name() }} - {{ power() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Poder"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />

    <button class="mt-2 btn btn-primary" (click)="addCharacter()">
      Agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>listado</h3>
    <ul>
      @for (chracter of chracters(); track chracter.id;let idx = $index) { @if(
      (chracter?.power ?? 0 )> 500 ){
      <li>
        <span> {{ idx + 1 }} - {{ chracter.name }} </span>
        <strong
          [class.text-danger]="(chracter?.power ?? 0) >= 8000"
          [class.text-info]="(chracter?.power ?? 0) < 8000"
        >
          {{ chracter?.power ?? "Sin dato" }}
        </strong>
      </li>

      }@else {
      <li>
        <strong>Aqui no hay nadie con un poder mayor a 500</strong>
      </li>
      } }
    </ul>
  </div>
</section>
